<h1> Books in Database that you can add to your list! </h1>
<table id="table">
<thead>
  <tr>
    <th id="title">Title</th>
    <th id="author">Author</th>
    <th>Options</th>
  </tr>
</thead>
<tbody>
<% @books.each do|book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <% book.user_id = current_user.id %>
<!--       <%= f.hidden_field :user_id, :value => session[:user_id] %> -->
    <td><%= link_to "Add to my list", {:controller => "books", :action => "create", :book => book}%></td>    </tr>
    
<!--       <td><%= link_to '*Add to My list', books_path(:title => book.title, :author => book.author, :user_id => book.user_id), data: {confirm: 'You sure to add?'}%></td>


            <td><%= link_to "Add to my list", {:controller => "books", :action => "create", :books => book}%></td> -->
 <% end %>
</tbody>
</table>
<br>
<%= link_to 'Search Again', '/books/new'%>
<br>
<br>
<%= link_to 'Back to My Booklist', books_path %>
<br>
<br>
<%= link_to 'Home', root_path %>
<br>
<br>


